.banner{
    height: 350px;
}
.logo{
   width: 20%;
   height: 70%;
   margin-top: 50px;
}
@media only screen and (max-width: 1200px){
    .logo{
        width: 25%;
    }
}
@media only screen and (max-width: 992px){
    .logo{
        width: 35%;
    }
}
@media only screen and (max-width: 768px){
    .logo{
        width: 40%;
    }
}
@media only screen and (max-width: 600px){
    .logo{
        width: 50%;
    }
}